#img-home {
    height: 88vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.col-sm:hover{
    transition: transform .5s;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


#imgRandom {
    padding: 30px;
    height: 12.8em;
    width: 17em;
    object-fit: contain;
}

#nameVod {
    padding: 40px;
}
