<div class="container">
    <div class="row">
        <div class="col">
            <img id="img-home" src="../../../assets/logo.png" class="img-responsive right" style="align: center;  z-index:1;" />
        </div>
    </div>

    <hr />

    <div id="menu-row" class="row">
        <div class="col-sm">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="pointer" routerLink="/vodList">
                        <img src="../../../assets/image/Videos.png" width="300px" height="300px" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="pointer" routerLink="/tutors">
                        <img src="../../../assets/image/subscribe.png" width="300px" height="300px" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="pointer" routerLink="/aboutUs">
                        <img src="../../../assets/image/aboutUs.png" width="300px" height="300px" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div>
        <div class="home-headline"><span>Videos</span></div>
        <hr style="position: absolute; margin-top: -50px;" />
    </div>

    <hr style="margin-top: 10px; z-index:-1;" />

    <div class="row">
        <div *ngFor="let vod of randomVodList">
            <div class=".col-6 .col-md-4">
                <img id="imgRandom" class="img-responsive" [src]="'http://localhost:8181/vod/thumbnails/'+vod.id+'.png'" /> 
                <br>
                <span><a id="nameVod" (click)="onSelect(vod)" style="cursor:pointer">{{vod.name}}</a></span>
            </div>
        </div>
    </div>
</div>