<div class="container">
	<div class="row">
		<h2 class="section-headline col-xs-8 col-md-4"><span>My Account</span></h2>
		<h2 class="section-headline-secondary col-xs-4 col-md-8"><span>{{ user.userRole }}</span></h2>
	</div>

	<hr />

	<div *ngIf="!dataFetched" style="margin-top: 50px;">
		<div class="row">
			<div class="col align-self-center">
				<mat-spinner></mat-spinner>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="dataFetched" style="margin-top:30px;">
		<mat-tab-group class="col-12" [selectedIndex]="selectedProfileTab">
			<mat-tab label="Account Info">
				<br>
				<div style="margin-top: 20px;">
					<div class="alert alert-danger" *ngIf="incorrectPassword">
						<strong>Incorrect Password!</strong> Please enter the correct password for the current user.
					</div>
					<div class="alert alert-success" *ngIf="updateSuccess">
						<strong>Update Success!</strong>
					</div>
				</div>
				<form (ngSubmit)="onUpdateUserInfo()">
					<input type="hidden" name="id" [(ngModel)]="user.id" />
					<div class="bg-info" *ngIf="updateUserInfo">User info updated.</div>
					<div class="form-group">
						<label for="firstName">First Name</label>
						<input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" />
					</div>
					<div>
						<label for="lastName">Last Name</label>
						<input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" />
					</div>
					<div class="form-group">
						<label for="username">
							Username *
						</label>&nbsp;<span *ngIf="usernameExists" style="color:red">Username already exists. Choose a different one.</span>
						<input required="required" type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" />
					</div>
					<div class="form-group">
						<label for="currentPassword">
							Current Password
						</label>
						<input type="password" class="form-control" id="password" name="password" [(ngModel)]="currentPassword" />
						<p style="color:#828282;">Enter your current password to change the E-mail address or Password.</p>
					</div>
					<div class="form-group">
						<label for="email">
							Email Address *
						</label>&nbsp;<span *ngIf="emailExists" style="color:red">Email already exists. Choose a different one.</span>
						<input required="required" type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" />
						<p style="color:#828282;">A valid e-mail address. All e-mails from the system will be sent to this address.</p>
					</div>
					<div class="form-group">
						<label for="txtNewPassword">
							New Password *
						</label>&nbsp;<span id="checkPasswordMatch" style="color:red;"></span>
						<input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword" [(ngModel)]="newPassword" />
					</div>
					<div class="form-group">
						<label for="txtConfirmPassword">
							Confirm New Password *
						</label>
						<input type="password" class="form-control" id="txtConfirmPassword" name="txtNewPassword" />
					</div>
					<button mat-raised-button type="submit" class="mat-primary" id="udpateuserInfoButton">Save</button>
				</form>
			</mat-tab>

			<mat-tab label="Videos Info">
				<br>
				<form (ngSubmit)="onAddNewVideo()">
					<div class="bg-info" *ngIf="vodAdded">Video has been added.</div>
					<div class="form-group">
						<label for="Title">Title</label>
						<input type="text" class="form-control" id="title" name="title" [(ngModel)]="vod.name" />
					</div>
					<div class="form-group">
						<label for="Description">Description</label>
						<input type="text" class="form-control" id="description" name="description" [(ngModel)]="vod.description" />
					</div>
					<div class="form-group">
						<label for="Tags">Tags</label>
						<input type="text" class="form-control" id="tags" name="tags" [(ngModel)]="vod.tags" />
					</div>
					<div class="form-group">
						<label for="Duration">Duration</label>
						<input type="number" class="form-control" id="duration" name="duration" [(ngModel)]="vod.duration" />
					</div>
					<div class="form-group">
						<label for="PublicationDate">Publication Date</label>
						<input type="date" class="form-control" id="publicationDate" name="publicationDate" [(ngModel)]="vod.publicationDate" />
					</div>
					<div class="form-group">
						<label for="Language">Language</label>
						<mat-select placeholder="Language" id="language" name="language" [(ngModel)]="vod.language">
							<mat-option value="english">English</mat-option>
							<mat-option value="spanish">Spanish</mat-option>
						</mat-select>
					</div>
					<div class="form-group">
						<label for="Category">Category</label>
						<mat-select placeholder="Category" id="category" name="category" [(ngModel)]="vod.category">
							<mat-option value="OOP">Object Oriented Programming</mat-option>
							<mat-option value="Linux">Linux</mat-option>
							<mat-option value="Windows">Windows</mat-option>
							<mat-option value="Sys admin">Sys admin</mat-option>
							<mat-option value="Cloud">Cloud</mat-option>
							<mat-option value="Other">Other</mat-option>
						</mat-select>
					</div>
					<div class="form-group">
						Thumbnail &nbsp;
						<input accept="image/*" id="vodThumbnail" type="file" id="vodThumbnail" name="vodThumbnail" (change)="uploadThumbnail.fileChangeEvent($event)">
					</div>
					<div class="form-group">
						Video &nbsp;
						<input accept="video/mp4" id="vodVideo" type="file" id="vodVideo" name="vodVideo" (change)="uploadVideo.fileChangeEvent($event)">
					</div>

					<button mat-button color="primary" mat-raised-button type="submit">Add Vod</button>
				</form>
			</mat-tab>

<!--
			<mat-tab label="Billing Info">
				<br>
				<div>
					<p *ngIf="defaultPaymentSet">Default payment set successfully!</p>
					<mat-tab-group (selectedIndexChange)="selectedBillingChange($event)" [selectedIndex]="selectedBillingTab">
						<mat-tab label="List of cards">
							<form (ngSubmit)="setDefaultPayment()" method="post">
								<table class="table">
									<thead>
										<tr>
											<th>Default</th>
											<th>Credit Card</th>
											<th>Operations</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let userPayment of userPaymentList">
											<td>
												<input type="radio" name="defaultUserPaymentId" [(ngModel)]="defaultUserPaymentId" [value]="userPayment.id" />
												<span>default</span>
											</td>
											<td>{{userPayment.cardName}}</td>
											<td>
												<a mat-button (click)="onUpdatePayment(userPayment)"><i class="fa fa-pencil"></i></a>
												<a mat-button (click)="onRemovePayment(userPayment.id)"><i class="fa fa-times"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
								<button mat-button color="primary" mat-raised-button type="submit">Save</button>
							</form>
						</mat-tab>

						<mat-tab label="Add(Update) Card">
							<form (ngSubmit)="onNewPayment()" method="post">
								<div class="bg-info" *ngIf="updateUserPaymentInfo">User info updated.</div>

								<input hidden="hidden" name="id" [(ngModel)]="userPayment.id" />
								<div class="form-group">
									<label for="cardName">* Give a name for your card.</label>
									<input type="text" class="form-control" id="cardName" placeholder="Card Name" name="cardName" required="required"
									 [(ngModel)]="userPayment.cardName" />
								</div>
								 Billing Information 
								<hr />
								<div class="form-group">
									<label for="billingName">* Name</label>
									<input type="text" class="form-control" id="billingName" placeholder="Billing Name" name="billingName"
									 required="required" [(ngModel)]="userBilling.userBillingName" />
								</div>
								<div class="form-group">
									<label for="billingAddress">* Street Address 1</label>
									<input type="text" class="form-control" id="billingAddress" placeholder="Street Address 1" name="userBillingStreet1"
									 required="required" [(ngModel)]="userBilling.userBillingStreet1" />
								</div>
								<div class="form-group">
									<label for="billingAddress">Street Address 2</label>
									<input type="text" class="form-control" placeholder="Street Address 2" name="userBillingStreet2" [(ngModel)]="userBilling.userBillingStreet2" />
								</div>
								<div class="row">
									<div class="col-xs-4">
										<div class="form-group">
											<label for="billingCity">* City</label>
											<input type="text" class="form-control" id="userBillingCity" placeholder="Billing City" name="userBillingCity"
											 required="required" [(ngModel)]="userBilling.userBillingCity" />
										</div>
									</div>
									<div class="col-xs-4">
										<div class="form-group">
											<label for="billingState">* State</label>
											<select type="text" class="form-control" id="userBillingState" placeholder="Billing State" name="userBillingState"
											 required="required" [(ngModel)]="userBilling.userBillingState">
												<option value="" disabled>-- state --</option>
												<option *ngFor="let state of stateList">{{state}}</option>
											</select>
										</div>
									</div>
									<div class="col-xs-4">
										<div class="form-group">
											<label for="billingZipcode">* Zipcode</label>
											<input type="text" class="form-control" id="userBillingZipcode" placeholder="Billing Zipcode" name="userBillingZipcode"
											 required="required" [(ngModel)]="userBilling.userBillingZipcode" />
										</div>
									</div>
								</div>

								 User Payment 
								<hr />
								<div class="form-group">
									<h4>Credit Card Information</h4>
								</div>
								<div class="row">
									<div class="col-xs-12">

										<br>
										<div class="form-group">
											<label for="cardType">* Select Card Type</label>
											<select id="cardType" class="form-control" name="cardType" [(ngModel)]="userPayment.type" required="required">
												<option value="" disabled>-- Card Type --</option>
												<option value="visa">Visa</option>
												<option value="mastercard">Mastercard</option>
												<option value="discover">Discover</option>
												<option value="amex">American Express</option>
											</select>
										</div>
										<div class="form-group">
											<label for="cardHolder">* Card Holder</label>
											<input type="text" class="form-control" id="cardholder" placeholder="Card Holder Name" name="cardHolderName"
											 required="required" [(ngModel)]="userPayment.holderName" />
										</div>
										<div class="form-group">
											<label for="cardNumber">* Card Number</label>
											<div class="input-group">
												<input required="required" id="cardNumber" type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number"
												 [(ngModel)]="userPayment.cardNumber" />
												<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-7">
										<div class="form-group">
											<label>* Expiration Date</label>
											<div class="row">
												<div class="col-xs-6">
													<select class="form-control" name="expiryMonth" required="required" [(ngModel)]="userPayment.expiryMonth">
														<option value="" disabled="disabled">
															-- Month --
														</option>
														<option value="1">Jan (01)</option>
														<option value="2">Feb (02)</option>
														<option value="3">Mar (03)</option>
														<option value="4">Apr (04)</option>
														<option value="5">May (05)</option>
														<option value="6">Jun (06)</option>
														<option value="7">July (07)</option>
														<option value="8">Aug (08)</option>
														<option value="9">Sep (09)</option>
														<option value="10">Oct (10)</option>
														<option value="11">Nov (11)</option>
														<option value="12">Dec (12)</option>
													</select>
												</div>

												<div class="col-xs-6">
													<select class="form-control" name="expiryYear" required="required" [(ngModel)]="userPayment.expiryYear">
														<option value="" disabled="disabled">
															-- Year --
														</option>
														<option value="19">2019</option>
														<option value="20">2020</option>
														<option value="21">2021</option>
														<option value="22">2022</option>
														<option value="23">2023</option>
														<option value="24">2024</option>
														<option value="25">2025</option>
														<option value="23">2026</option>
														<option value="24">2027</option>
														<option value="25">2028</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-5 pull-right">
										<div class="form-group">
											<label for="cardCVC">CV Code</label>
											<input id="cardCVC" type="tel" class="form-control" name="cardCVC" placeholder="CVC" [(ngModel)]="userPayment.cvc" />
										</div>
									</div>
								</div>
								<hr />
								<button md-raised-button type="submit" class="mat-primary">
									Save All
								</button>



							</form>
						</mat-tab>
					</mat-tab-group>
				</div>


			</mat-tab>-->
		
			<mat-tab *ngIf="isStudent==false" label="Go Live">
				<br>
				<app-go-live></app-go-live>
			</mat-tab>

			<mat-tab label="Playlists">
				<br>
				<mat-tab-group (selectedIndexChange)="selectedPlaylistChange($event)" [selectedIndex]="selectedPlaylistTab">
					<mat-tab label="LikedVideo">
						<table class="table">
							<thead>
								<tr>
									<th>

									</th>
									<th>Title</th>
									<th>Description</th>
									<th>Publication Date</th>
									<th>Category</th>
									<th>Tags</th>
									<th>Duration</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let vod of likedVideoList">
									<td>
										<img id="img-tabel" class="img-responsive" src="{{serverPath}}/vod/thumbnails/{{vod.id}}.png" />
									</td>
									<td><a (click)="onSelect(vod)" style="cursor:pointer">{{vod.name}}</a></td>
									<td>{{vod.description}}</td>
									<td>{{vod.publicationDate}}</td>
									<td>{{vod.category}}</td>
									<td>{{vod.tags}}</td>
									<td>{{vod.duration}}</td>
								</tr>
							</tbody>
						</table>
					</mat-tab>

					<mat-tab label="WatchLater">
							<table class="table">
									<thead>
										<tr>
											<th>
		
											</th>
											<th>Title</th>
											<th>Description</th>
											<th>Publication Date</th>
											<th>Category</th>
											<th>Tags</th>
											<th>Duration</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let vod of watchLaterList">
											<td>
												<img id="img-tabel" class="img-responsive" src="{{serverPath}}/vod/thumbnails/{{vod.id}}.png" />
											</td>
											<td><a (click)="onSelect(vod)" style="cursor:pointer">{{vod.name}}</a></td>
											<td>{{vod.description}}</td>
											<td>{{vod.publicationDate}}</td>
											<td>{{vod.category}}</td>
											<td>{{vod.tags}}</td>
											<td>{{vod.duration}}</td>
										</tr>
									</tbody>
								</table>
					</mat-tab>
				</mat-tab-group>

			</mat-tab>

			<mat-tab label="Following">
				<br>
				<table matTable id="followingList">
					<thead>
						<tr>
							<th>

							</th>
							<th>Usermame</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let user of followingList">

							<td>{{user.username}}</td>
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
							<td>{{user.email}}</td>
							<td>{{user.enabled}}</td>
							<td>

							</td>

						</tr>
					</tbody>
				</table>
			</mat-tab>
		</mat-tab-group>
	</div>