#main-nav {
    background-color:  #163547;
}

#brand-name {
    color: white;
}

#brand-name:hover {
    color: gray;
}

#navbar {
    color:white;
}

#vid-button {
    color: white;
    margin-top: 1px;
}

#vid-button:hover {
    color: gray;
}

#account-button {
    color: white;
}

#account-button:hover {
    color: gray;
}

#profile-button {
    color: white;
}

#profile-button:hover {
    color: gray;
}

#log-button > a {
    color: white;
}

#log-button a:hover{
    
    color: gray !important;
}

.btn {
    color: white;
}

.btn:hover {
    color: gray;
}

#videos-row {
    margin: auto; 
    
}
