<div class="page-top" style="width: 100%; height: 20px; background-color: #add34d"></div>


<nav id="main-nav" class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="brand-name" routerLink="/home">Streaming tutorials</a>
    </div>

		<div id="navbar">
			<ul class="nav ">
				<li><a id="vid-button" mat-button routerLink="/vodList">Videos</a></li>
        <li><a id="live-button" mat-button routerLink="/goLive">Playing now</a></li>
      </ul>
      
			<ul class="nav navbar-nav">
				<li *ngIf="!loggedIn">
					<a id="account-button" mat-button routerLink="/myAccount">Login</a>
				</li>
				<li *ngIf="loggedIn">
					<a id="profile-button" mat-button routerLink="/myProfile">My account</a>
				</li>
				<li id="log-button" *ngIf="loggedIn">
					<a mat-button (click)="logout()">Logout</a>
				</li>
			</ul>
		</div>

  </div>
</nav> 






