#img-thumbnail{
    height: 100%;
    width: 100%;
    object-fit: contain;

}

  .arrow {
    width: 0.5vw;
    height: 0.5vw;
    border: 0.5vw solid;
    border-color: black transparent transparent black;
    color: black;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .videogular-container {
      
    /*height: 75vh;
    width: 75vw;
	margin: auto;
    overflow: hidden;*/
    margin-bottom: 20px;
}

.row {
    width: 100%;
}
  