<div class="container">
  <div style="margin-top: 20px;">

    <a routerLink="/vodList">
      <div class="arrow"> Return </div>
    </a>
    <br><br>

    <div class="row">
      <div class="col-12">



        <div class="videogular-container">
          <vg-player>

            <video #myMedia (onGetBitrates)="hlsBitrates = $event" [vgHls]="'http://localhost:8181/vod/videos/'+vod.id+'.m3u8'"
              id="my-video" controls>
            </video>
          </vg-player>
        </div>

        <!--     
        <vg-player >

          <video #myMedia (onGetBitrates)="hlsBitrates = $event" [vgHls]="'http://adtv.ercdn.net/addrama/addrama_720p.m3u8'" id="my-video" controls>
          </video>
        </vg-player> 



        <vg-player (onPlayerReady)="onPlayerReady($event)">

          <video #myMedia (onGetBitrates)="hlsBitrates = $event" [vgHls]="'http://localhost:8181/vod/videos/testLive.m3u8'"
            id="my-video" controls>
          </video>
        </vg-player>
-->


        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
          <mat-grid-tile [style.background]='lightgray'>
              <a *ngIf="liked==false" (click)="onLike()" style="cursor: pointer">Like</a>
              <a *ngIf="liked" (click)="onDislike()" style="cursor: pointer">Dislike</a>
          </mat-grid-tile>
          <mat-grid-tile [style.background]='lightgray'>
              <mat-form-field style="margin-top:30px;">
                  <input matInput name="filterQuery" [(ngModel)]="filterQuery" placeholder="Playlist name" />
                  <br>
            
                </mat-form-field>
                <button mat-raised-button (click)="onAddPlaylist()" id="addPlaylist">Add</button>
          </mat-grid-tile>
        </mat-grid-list>





      </div>

    </div>



  </div>
</div>