table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

#img-tabel {
    height: 1.8em;
    width: 1.8em;
    object-fit: contain;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.mat-tab-body-wrapper:nth-child(4n) {
  max-width: 75vw;
}

#img-tabel {
  height: 1.8em;
  width: 1.8em;
  object-fit: contain;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}
thead {
  background: #163547;
  color: #fff;
  opacity: 0.6;
}
th {
  font-weight: bold;
}
th:first-child {
  text-align: left;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.vod-title {
  color: #395870;
  display: block;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
}