<div class="container">
  <form (ngSubmit)="onSearcyByTitle()" class="navbar-form">
    <div class="form-group">
      <input type="text" name="searcyByTitle" [(ngModel)]="filterQuery" class="form-control" placeholder="Video Title" />
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>

  <br>

  <table matTable id="vodListTable" >
      <thead>
          <tr>
            <th>
                
            </th>
            <th>Title</th>
            <th>Description</th>
            <th>Publication Date</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Duration</th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor = "let vod of vodList" >
            <td>
                <img id="img-tabel" class="img-responsive" src="{{serverPath}}/vod/thumbnails/{{vod.id}}.png" />
            </td>
            <td><a (click)="onSelect(vod)" style="cursor:pointer">{{vod.name}}</a></td>
            <td>{{vod.description}}</td>
            <td>{{vod.publicationDate}}</td>
            <td>{{vod.category}}</td>
            <td>{{vod.tags}}</td>
            <td>{{vod.duration}}</td>
            </tr>  
      </tbody>

    </table>
</div>