<div class="container">
    <div style="margin-top: 20px;">

        <a routerLink="/home">
            <div class="arrow"> Return </div>
        </a>
        <br><br>

        <div class="row">
            <div class="col-12">



                <div class="videogular-container">
                    <vg-player (onPlayerReady)="onPlayerReady($event)">
                        <vg-buffering></vg-buffering>

                        <vg-controls>
                            <vg-play-pause></vg-play-pause>
                            <vg-playback-button></vg-playback-button>

                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>

                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>

                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>

                        <video #media [vgMedia]="media" [vgHls]="currentItem.src" id="singleVideo" preload="auto"
                            crossorigin>
                        </video>
                    </vg-player>
                </div>
            

<!--
                <mat-grid-list cols="4" rowHeight="100px">
                        <mat-grid-tile
                            *ngFor="let item of playlist2; let $index = index"
                            [colspan]="1"
                            [rowspan]="1"
                            [style.color]="lightgray"
                            [class.selected]="item === currentItem"
                            (click)="onClickPlaylistItem(item, $index)">
                          {{item.title}}
                        </mat-grid-tile>
                </mat-grid-list>  -->
            </div>
        </div>
    </div>