<div class="container" >
	<div class="row">
		<div class="col-xs-8">
			<h2 class="section-headline"><span>Login / Register </span></h2>
		</div>
	</div>

  <hr />

	<div class="row" style="margint-top:30px;">
		<mat-tab-group>
      <mat-tab label="Login">
        <div style="margin-top:20px;">
          <div *ngIf="loginError" style="color:red;">
            Incorrect username or password.
          </div>

          <form (ngSubmit)="onLogin()">
            <div class="form-group">
              <label for ="username">Username *</label>
              <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credential.username" required="required" autofocus="autofocus">
              <p style="color:#828282;">Enter your username</p>
            </div>
            <div class="form-group">
              <label for ="password">Password *</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credential.password" required="required" autofocus="autofocus">
              <p style="color:#828282;">Enter your password</p>
            </div>
            <button mat-raised-button type="submit" color="primary">Log In</button>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="New Account">
        <mat-tab-group (selectedIndexChange)="selectedNewAccountChange($event)" [selectedIndex]="selectedNewAccountTab">
          <mat-tab label="Sign up as a STUDENT">
              <div style="margin-top: 20px;">
                  <div class="alert alert-info" *ngIf="emailSent">An email has been sent to the email address you just registered. Please validate your email adderss and update your password info.</div>
                  <form (ngSubmit)="onNewStudentAccount()">
                    <div class="form-group">
                      <label for="newUsername">Username *</label>&nbsp;<span *ngIf="usernameExists" style="color:red;">Username already exists. Choose a different one.</span>
                      <input type="text" class="form-control" id="newUsername" name="username" [(ngModel)]="username" required="required" >
                      <p style="color:#828282;">Enter your username</p>
                    </div>
                    <div class="form-group">
                      <label for="email">Email Address *</label>&nbsp;<span *ngIf="emailExists" style="color:red;">Email already exists. Choose a different one.</span>
                      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required="required" >
                      <p style="color:#828282;">A valid e-mail address. All e-mails from the system will be sent to this address.</p>
                    </div>
                    <button mat-raised-button type="submit" class="mat-primary">Create new account</button>
                  </form>
                </div>
          </mat-tab>
          <mat-tab label="Sign up as a TUTOR">
              <div style="margin-top: 20px;">
                  <div class="alert alert-info" *ngIf="emailSent">An email has been sent to the email address you just registered. Please validate your email adderss and update your password info.</div>
                  <form (ngSubmit)="onNewTutorAccount()">
                    <div class="form-group">
                      <label for="newUsername">Username *</label>&nbsp;<span *ngIf="usernameExists" style="color:red;">Username already exists. Choose a different one.</span>
                      <input type="text" class="form-control" id="newUsername" name="usernameTutor" [(ngModel)]="username" required="required" >
                      <p style="color:#828282;">Enter your username</p>
                    </div>
                    <div class="form-group">
                      <label for="email">Email Address *</label>&nbsp;<span *ngIf="emailExists" style="color:red;">Email already exists. Choose a different one.</span>
                      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required="required" >
                      <p style="color:#828282;">A valid e-mail address. All e-mails from the system will be sent to this address.</p>
                    </div>
                    <div class="form-group">
                        CV &nbsp;
                        <input id="userCV" type="file" id="userCV" name="userCV" (change)="uploadCVService.fileChangeEvent($event)">
                      </div>
                    <button mat-raised-button type="submit" class="mat-primary">Create new account</button>
                  </form>
                </div>
          </mat-tab >
        </mat-tab-group>
          
        </mat-tab>

        <mat-tab label="Forget Password">
          <div style="margin-top: 20px;">
            <div style="color:red;" *ngIf="emailNotExists">Email doesn't exist.</div>
            <div class="alert alert-success" *ngIf="forgetPasswordEmailSent">Email sent.</div>
            <form (ngSubmit)="onForgetPassword()">
              <div class="form-group">
                <label for="recoverEmail">Your Email Address *</label>
                <input type="email" class="form-control" id="recoverEmail" name="recoverEmail" [(ngModel)]="recoverEmail" required="required" >
                <p style="color:#828282;">Enter your registered email address.</p>
              </div>
              <button mat-raised-button type="submit" class="mat-primary">Submit</button>
            </form>
          </div>
        </mat-tab>
     
    </mat-tab-group>

  </div>
  
</div>
